@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;500;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;500;800;900&family=Sacramento&display=swap');


span{
    text-decoration: underline;
}

.container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    
}
    

body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 2em;
}
h1{
   margin-top: 0;
   line-height: 2;
   font-size: 5.526rem;
   font-family: 'Sacramento', cursive;
   color: #66BFBF;
    
}
h2{
    color: #66BFBF;
    font-size: 2.5rem;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
}
.top-cloud{
    position: absolute;
    left: 300px;
    top: 520px;
}
.bottom-cloud{
    position: absolute;
    right: 350px;
    top: 70px;
}
p{
    line-height: 2;
}
hr{
    border: dotted #40514E 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
    
}
.img{
    width: 25%;
    float: left;
    padding-right: 30px;
    border-radius: 50%;
}
.img2{
    width: 25%;
    float: right;
    padding-left: 30px;
    border-radius: 50%;
}

.dev{
    font-size: 40px;
    font-weight: normal;
    color: #8cb390;
}
.pp{
    width: 15%;
}
.intro{
    width: 30%;
    margin: auto;
}
.middle-container{
    margin: 100px 0;
}
.contact-message{
    width: 40%;
    margin: 40px auto 40px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .bottom-container{
      background-color: #66BFBF;
      padding: 50px 0 20px;
  }
  a{
      color: #11999E;
      margin: 10px 20px;
      text-decoration: none;
      
  }
  a:hover{
      color: #EAF6F6;
  }
  .copyright{
      color: #EAF6F6;
      font-size: 0.75rem;
      padding: 20px 0;
  }